<nav class="navbar navbar-fixed-top">
<div class="navbar-header">
    <a class="navbar-brand" href="#">App Chat</a>
</div>
<ul class="nav navbar-nav navbar-right">
    <li ><a href="" id="avatar"><span><img src="images/avatar.jpg" class="img-circle" style="height: 35px; width: 35px;"><span> Nhàn Nhót</span></span></a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="">Cài đặt</a></li>
            <hr>
            <li><a href="">Liên hệ hoạt động</a></li>
            <li><a href="">Connection Requests</a></li>
            <li><a href="">Cuộc trò chuyện đã lưu trữ</a></li>
            <li><a href="">Cuộc trò chuyện chưa đọc</a></li>
            <hr>
            <li><a href="">Đăng xuất</a></li>
            <li><a href="">Báo cáo sự cố</a></li>
        </ul>
    </li>
</ul>
</nav>
