/*css for left side*/
#filter {
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid gainsboro;
}
.round {
    border-radius: 100%;
    display: block;
    height: 50px;
    width: 50px;
    float: left;
}
.left-side {
    margin-top: 50px;
    overflow: auto;
    position: fixed;
    top:0;
    left: 0;
    bottom:0;
    border: 1px solid gainsboro;
}
.clearfix {
    display: block;
}
.left-side ul {

    padding-left: 10px;
    padding-right: 10px;
}
.left-side li {
    list-style: none;
    display: block;
    overflow: hidden;
    padding: 10px;
    border-bottom: 1px solid #ebebe0;
}
.left-side div {
    display: inline;
}

.left-side strong {
    display: block;
    margin: 0 0 4px;
}
.left-side .content {
    float: left;
    margin-left: 10px;
}
/*end css for left side*/
/*css for right side*/
.right-side {
    margin-top: 50px;
    overflow: auto;
    position: fixed;
    top:0;
    right: 0;
    bottom:0;
    border: 1px solid gainsboro;
}
.chat-name {
    display: block;
    padding: 10px;
    height: 70px;
}
.chat-name strong {
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
}
.chat-name i {
    margin-top: 15px;
}
.chat-informations {
    border-top: 1px solid gainsboro;
    height: 200px;
    border-bottom: 0;
}
.chat-informations div {
    color: lightgray;
    padding: 15px;
}
.chat-informations li {
    list-style: none;
    font-size: 125%;
    margin-top: 15px;
}
.chat-members {
    border-top: 1px solid gainsboro;
}
.chat-members div {
    color: lightgray;
    padding: 15px;
}
.chat-members li {
    list-style: none;
    display: block;
    height: 40px;
}
.chat-members .user-name {
    color: black;
    padding: 10px;
    padding-left: 50px;
}
.small-round {
    border-radius: 100%;
    display: block;
    height: 35px;
    width: 35px;
    float: left;
}
.add-user {
    padding: 10px;
}
/*end css for right side*/
.center {
    background-color: red;
    height: 500px;
}