<div class="left-side col-md-3">
    <div>
        <input id="filter" type="text" placeholder=" Search" name="filter" ng-model="textFilter">
        <i class="glyphicon glyphicon-edit" ng-click="lastvm.popupForm()"></i>
    </div>
    <ul>
        <li class="clearfix" ng-repeat="conversation in lastvm.conversations | filter : textFilter">
             <a ui-sref="home.chatform">
                <img class="round" src="{{ conversation.avatar }}">
                <div class="content">
                    <strong>{{ conversation.name }}</strong> {{ conversation.lastMessage }}
                </div>
            </a>
        </li>
    </ul>

</div>