<div class="row">
  <!-- <div class="col-sm-3"></div> -->
  <div class="chat_window">
    <div>
      <div class="panel-body">
        <ul class="chat">
          <li class="left clearfix" ng-repeat="message in cvm.messages">
            <span class="chat-img pull-left">
              <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
            </span>
            <div class="chat-body clearfix">
              <div class="header">
                <!--<strong class="primary-font">{{message.user}}</strong>-->
                <strong class="primary-font">message: </strong>
                <small class="pull-right text-muted">
                      <span class="glyphicon glyphicon-time"></span>12 mins ago
                  </small>
              </div>
              <p>{{message.message}}</p>
              <!--<p>{{message}}</p>-->
            </div>
          </li>
        </ul>
      </div>
    </div>
    <form class="bottom_wrapper clearfix" ng-submit="cvm.send()">
      <div class="message_input_wrapper"><input class="message_input" id="txtMessage" placeholder="Type your message here..." ng-model="cvm.message" /></div>
      <button class="send_message text" id="btnSendMessage" type="submit" ">Send
      </button>
    </form>
  </div>
</div>
